<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Home</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
    <img class="logo" src="assets/urlcut.png" alt="angular logo" />
    <ion-card-content>
      <ion-card-title>
        <span translate>Wellcome to URLclip</span>
      </ion-card-title>
      <p>Now you can shortener your website url in an easy way!</p>

      <br /><br />
      <!--input con boton-->
      <div style="padding: 4%">
        <ion-item>
          <ion-label>Enter your URL here: </ion-label><br />
          <ion-input placeholder="www.google.es" type="text" [(ngModel)]="inputURL"></ion-input>
          <ion-button color="primary" (click)="showURL(inputURL)"><ion-icon name="cut-outline"></ion-icon></ion-button>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-card *ngFor="let card of URLCard">
  <ion-card-header>
    <ion-title
      >Link shorted: <a href="{{ card.short_url }}">{{ card.short_url }}</a></ion-title
    >
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <b>Redirect url:</b>
      {{ card.long_url }} </ion-item
    >>
    <ion-item>
      <b>Creation date::</b>
      {{ card.created_at }} </ion-item
    >>
  </ion-card-content>
</ion-card>
