<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div>
      <ion-title>
        <img class="logo" style="height: auto; width: 30px" src="assets/cut.png" />
        <span translate>GWEN Scissors</span>
        <app-language-selector style="float: right"></app-language-selector>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
    <img class="logo" style="height: auto; width: 600px" src="assets/lolgwen-lol.gif" />
    <ion-card-content>
      <ion-card-title>
        <span translate>Wellcome summoner, I'm GWEN, your favorite URL shortener</span>
      </ion-card-title>
      <p translate>Do you need a shorter URL for your website? Let GWEN do her magic!</p>
      <div style="padding: 4%">
        <ion-item>
          <ion-label><p translate>Enter your URL:</p></ion-label>
          <ion-input clearInput type="text" value="http://" [(ngModel)]="inputURL"></ion-input>
          <ion-button color="primary" (click)="showURL(inputURL)"><p translate>Come on, GWEN!</p></ion-button>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let card of URLCard.reverse()">
    <ion-card-header>
      <ion-item color="primary" lines="none">
        <h3>{{ card.hostname }}</h3>
      </ion-item>
      <br />
      <ion-title translate
        >Link shorted: <a href="{{ card.short_url }}">{{ card.short_url }}</a></ion-title
      >
    </ion-card-header>
    <ion-card-content>
      <ion-item> <b translate>Original URL:</b>&nbsp; {{ card.long_url }} </ion-item>
      <ion-item>
        <b translate>Creation date: </b>&nbsp; {{ card.created_at * 1000 | date: 'dd/MM/yyyy, hh:mm' }}
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
